#scoreboardDiv {
  background-color: ghostwhite;
  opacity: 0.4;
  border-right:2px solid ghostwhite;
  height:100%;
}
#debugOptionsDiv {
  margin: 4px;
  border: 2px solid dimgray;
}
h3 {
  margin:0px;
  padding:10px;
  color: dimgray;
}
h3:first-of-type {
  padding-top:100px;
}
